@font-face {
    font-family: 'arial';
    src: url('../../fonts/Ariel\ Script.ttf') format('true type');
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'arial';
}
.AnalysisCard {
    min-width: 280px;
    /* width: 22% !important; */
    max-width: 250px !important;
    
    color: rgb(255, 255, 255);

    height:420px;

    padding: 10px 12px 10px 12px;

    border-radius: 4px;

    background: rgb(41, 43, 57);
}
.AnalysisCard a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.AnalysisCard .analysisImage {
    width: 255px;
    height: 170px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}
.AnalysisCard .analysisInfo {
    /*  */
    /* display: flex;
    justify-content: start;
    flex-wrap: nowrap;
    align-items: start;
    flex-direction: column; */
    height: 225px !important;
    position: relative;
    margin-top: 8px;
}
.AnalysisCard .analysisInfo .topic {
    width: 100%;
    display: block;
    float: left;
    font-size: 17px;
    overflow: hidden;
}
.AnalysisCard .analysisInfo .topic:hover {
    color: #ddd;
    transition: all 0.2s ease-in-out;
}
.AnalysisCard .currencyPairs {
    font-size: 13px;
    display: inline-block;
    padding: 4px;
    background: #0364F1;
    border-radius: 5px;
    margin-bottom: 4px;
}
.AnalysisCard .senderInfo {
    display: flex;
    align-items: center;
    margin: 4px 0;
}
.AnalysisCard .senderInfo .senderAvatar {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.AnalysisCard .senderInfo .senderUsername {
    display: inline-block;
    margin-left: 7px;
    font-size: 15px;
}
.AnalysisCard .analysisInfo .info {
    width: 100%;
    max-height: 95px;
    display: block;
    float: left;
    font-size: 14px;
    color: #ddd;
    overflow-y: auto;
}
.AnalysisCard .analysisInfo ::-webkit-scrollbar {
    width: 6px !important;
}
.AnalysisCard .analysisInfo ::-webkit-scrollbar-track {
    background: rgb(30, 31, 42) !important;
  }
  .AnalysisCard .analysisInfo ::-webkit-scrollbar-thumb {
    background: #2c3261 !important;
    border-radius: 25px !important;
}
.AnalysisCard .analysisInfo ::-webkit-scrollbar-thumb:hover {
    background: #0364F1 !important;
    transition: all 0.2s ease-in-out !important;
}
.AnalysisCard .analysisInfo .time {
    position: absolute;
    right: 0%;
    bottom: 0%;
    color: #ddd;
}
.AnalysisCard .analysisInfo .date {
    position: absolute;
    left: 0%;
    bottom: 0%;
    color: #ddd;
}