@font-face {
    font-family: 'arial';
    src: url('../../fonts/Ariel\ Script.ttf') format('true type');
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'arial';
}
.teams_container {
    width: 100%;
    min-height: 100vh !important;
    background: rgb(23,23,26);
}